<!DOCTYPE html>
<html>
  <head>
    <title>ToolChest</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
